%h1 This is homepage

= link_to 'View Admins', users_index_path
= link_to 'View Vehicles', vehicles_path
= link_to 'View Drivers', drivers_path
= link_to 'View Requests', requests_path
= link_to 'View Onduties', onduties_path
