%h1 Create New Administrator

= form_tag administrators_path do

	= label :administrator, :name, 'Name'
	= text_field :administrator, :name

	= label :administrator, :account, 'Account'
	= text_field :administrator, :account

	= label :administrator, :password, 'Password'
	= password_field :administrator, :password

	= submit_tag 'Create Administrator'
