%h1 Edit Onduty #{@onduty.driverName}

= form_tag onduty_path(@onduty), :method => :put do

	= label :onduty, :driverName, 'DriverName'
	= text_field :onduty, :driverName

	= label :onduty, :plateNumber, 'PlateNumber'
	= text_field :onduty, :plateNumber

	= label :onduty, :studentName, 'StudentName'
	= text_field :onduty, :studentName

	= label :onduty, :studentId, 'StudentId'
	= text_field :onduty, :studentId

	= label :onduty, :vehicleLat, 'VehicleLat'
	= text_field :onduty, :vehicleLat

	= label :onduty, :vehicleLng, 'VehicleLng'
	= text_field :onduty, :vehicleLng

	= label :onduty, :startLat, 'StartLat'
	= text_field :onduty, :startLat

	= label :onduty, :startLng, 'StartLng'
	= text_field :onduty, :startLng

	= label :onduty, :endLat, 'EndLat'
	= text_field :onduty, :endLat

	= label :onduty, :endLng, 'EndLng'
	= text_field :onduty, :endLng

	= label :onduty, :isFinished, 'Isfinished'
	= text_field :onduty, :isFinished

	= label :onduty, :isAlert, 'IsAlert'
	= text_field :onduty, :isAlert

	= submit_tag 'Update Onduty Info'
