%h1 All Onduties

%h3 #{flash[:notice]}

%table#Onduties
	%thead
		%tr
			%th DriverName
			%th PlateNumber
			%th StudentName
			%th StudentId
			%th VehicleLat
			%th VehicleLng
			%th Startlat
			%th Startlng
			%th Endlat
			%th Endlng
			%th isFinished

	%tbody
		- @onduties.each do |onduty|
			%tr
				%td= onduty.driverName
				%td= onduty.plateNumber
				%td= onduty.studentName
				%td= onduty.studentId
				%td= onduty.vehicleLat
				%td= onduty.vehicleLng
				%td= onduty.startLat
				%td= onduty.startLng
				%td= onduty.endLat
				%td= onduty.endLng
				%td= onduty.isFinished


				%td= link_to 'Update ' + onduty.driverName, edit_onduty_path(onduty)
				%td= button_to 'Delete ' + onduty.driverName, onduty_path(onduty), :method => :delete, :confirm => 'Are you sure?'

= link_to 'Add New Onduty', new_onduty_path
= link_to 'Back to Homepage', root_path
