#map.container

%h3 #{flash[:notice]}

%table#Onduties
	%thead
		%tr
			%th ID
			%th DriverName
			%th PlateNumber
			%th StudentName
			%th StudentId
			%th VehicleLat
			%th VehicleLng
			%th Startlat
			%th Startlng
			%th Endlat
			%th Endlng
			%th isFinished

	%tbody
		- @onduties.each do |onduty|
			%tr
				%td= link_to onduty.id, onduty_path(onduty)
				%td= onduty.driverName
				%td= onduty.plateNumber
				%td= onduty.studentName
				%td= onduty.studentId
				%td= onduty.vehicleLat
				%td= onduty.vehicleLng
				%td= onduty.startLat
				%td= onduty.startLng
				%td= onduty.endLat
				%td= onduty.endLng
				%td= onduty.isFinished

= javascript_include_tag "mapMarker.js"
:javascript
	let duties = #{ @onduties.to_json.html_safe };
	let handler = Gmaps.build('Google');
	handler.buildMap({
		provider: {},
		internal: { id: 'map' }
	}, () => {
		let markers = handler.addMarkers(
			duties
				.filter(duty => duty.isFinished == false)
				.map(duty => getVehicleMarker(duty))
		);
		handler.bounds.extendWith(markers);
		handler.fitMapToBounds();
	});
