%h1 onduty #{@onduty.id}

%p driverName: #{@onduty.driverName}

%p plateNumber: #{@onduty.plateNumber}

%p studentName: #{@onduty.studentName}

%p studentId: #{@onduty.studentId}

%p vehicleLat: #{@onduty.vehicleLat}

%p vehicleLng: #{@onduty.vehicleLng}

%p startLat: #{@onduty.startLat}

%p startLng: #{@onduty.startLng}

%p endLat: #{@onduty.endLat}

%p endLng: #{@onduty.endLng}

%p isFinished: #{@onduty.isFinished}
