.container
	%h1 Edit Driver #{@driver.name}

	= form_tag driver_path(@driver), :method => :put do

		.form-group
			= label :driver, :name, 'Name'
			= text_field :driver, :name, :class => "form-control"

		.form-group
			= label :driver, :isAvailable, 'Is Available (true/false)'
			= text_field :driver, :isAvailable, :class => "form-control"

		= submit_tag 'Update Driver Info', :class => "btn btn-outline-primary"
