%h1 Edit Driver #{@driver.name}

= form_tag driver_path(@driver), :method => :put do

	= label :driver, :name, 'Name'
	= text_field :driver, :name

	= label :driver, :isAvaliable, 'Is_avaliable'
	= text_field :driver, :isAvaliable

	= submit_tag 'Update Driver Info'
