%h1 Edit Vehicle #{@vehicle.name}

= form_tag vehicle_path(@vehicle), :method => :put do

	= label :vehicle, :name, 'Plate Number'
	= text_field :vehicle, :name

	= label :vehicle, :isAvaliable, 'Is_avaliable'
	= text_field :vehicle, :isAvaliable

	= submit_tag 'Update Vehicle Info'
