%h1 All Vehicles

%h3 #{flash[:notice]}

%table#vehicles
	%thead
		%tr
			%th Name
			%th Plate Number
			%th Is Avaliable
	%tbody
		- @vehicles.each do |vehicle|
			%tr
				%td= vehicle.name
				%td= vehicle.plateNumber
				%td= vehicle.isAvaliable
				%td= link_to 'Update ' + vehicle.name, edit_vehicle_path(vehicle)
				%td= button_to 'Delete ' + vehicle.name, vehicle_path(vehicle), :method => :delete, :confirm => 'Are you sure?'

= link_to 'Add New Vehicle', new_vehicle_path
= link_to 'Back to Homepage', root_path
