%h1 All Vehicles

%h3 #{flash[:notice]}

%table#vehicles
	%thead
		%tr
			%th Name
	%tbody
		- @vehicles.each do |vehicle|
			%tr
				%td= vehicle.name
				%td= link_to 'Update', edit_vehicle_path(vehicle)
				%td= button_to 'Delete', vehicle_path(vehicle), :method => :delete, :confirm => 'Are you sure?'

= link_to 'Add New Vehicle', new_vehicle_path
