%h1 Create New Vehicle

= form_tag vehicles_path do


	= label :vehicle, :name, 'Plate Number'
	= text_field :vehicle, :name

	= label :vehicle, :isAvaliable, 'Is_avaliable'
	= text_field :vehicle, :isAvaliable

	= submit_tag 'Create Vehicle'
